.newsItem {
	background-color: white;
	padding: 25px;
	border-color: #282828;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

/* .newsItem:hover {
	background-color: #eee;
} */
p {
	font-family: 'IBM Plex Sans', sans-serif;
}
.upper {
	text-transform: uppercase;
}
.media {
	height: fit-content;
	/* max-height: 125px; */
	background-color: #e8e8e8;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

.headline {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #942832;
}

.adtInfo {
	margin-top: 5px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.autor {
	color: #888;
	font-size: 14px;
	text-align: left;
}

.timestamp {
	color: #BBB;
	font-size: 12px;
	min-width: fit-content;
}

.resumo {
	text-align: justify;
	text-align-last: left;
	line-break: strict;
	text-indent: 1em;
}

.texto {
	text-align: justify;
	text-align-last: left;
	line-break: strict;
	text-indent: 1em;
}

.link {
	display: inline-block;
	border: 3px solid #de8d2e;
	border-radius: 10px;
	margin-top: 15px;
	padding: 7px;
	font-weight: bold;
	color: #6c0318;
	text-decoration: none;
	transition-duration: 0.3s;
    cursor: pointer;
	font-size: 80%;
}

.link:hover {
	background-color: #de8d2e;
}